@property --faint-text-col {
    syntax: "<color>";
    inherits: false;
    initial-value: #717171;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #ffffff 30%, #e7e7e7 50%, #ffffff 60%);
}

.page-content {
    display: flex;
    padding: 2px;
    height: 100vh;
}

.nav-container {
    background-color: black;
    display: flex;
    width: 20%;
    height: auto;
}

.vertical-line {
    border-left: 2px solid var(--faint-text-col);
    border-radius: 25px;
}

.summary-container {
    width: 50%;
    border: 5px solid #3B3B3B;
    border-radius: 15px;
    margin: auto;
    margin-top: 10px;
    padding: 20px;
}

.summary-list-title {
    text-align: center;
}

.summary-list {
    display: flex;
    flex-direction: column;
}

.summary-row {
    display: flex;
    cursor: pointer;
    flex-direction: row;
    align-items: center;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    box-shadow: inset 0.2em 0.2em 0.2em 0 rgba(255, 255, 255, 0.5), inset -0.2em -0.2em 0.2em 0 rgba(190, 190, 190, 0.5);
}

.summary-row:nth-child(even) {
    background: rgb(225, 225, 225);
}

.summary-info-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 5px;
    margin-bottom: 20px;
}

.summary-banner {
    display: flex;
    font-size: 15px;
}

.summary-category {
    text-transform: uppercase;
    color: var(--faint-text-col);
    margin: 5px;
}

.summary-title {
    color: black;
    margin: 5px;
}

.summary-time-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.summary-duration {
    text-align: center;
    margin: 5px;
    font-size: small;
    color: var(--faint-text-col);
}

.summary-description {
    font-size: 15px;
    margin: 5px;
    color: var(--faint-text-col);
}

.status-icon {
    height: 50px;
    width: auto;
    margin: 10px;
}

.timebox {
    box-shadow: inset 0.2em 0.2em 0.2em 0 rgba(255, 255, 255, 0.5), inset -0.2em -0.2em 0.2em 0 rgba(190, 190, 190, 0.5);
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    padding: 0px 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
    align-items: center;
}

.timebox-icon {
    width: auto;
    height: 30px;
    margin: 5px;
}

.timebox-time {
    margin: 5px;
}

.new-times-form-container {
    /* border: 2px solid red; */
    width: 50%;
    border: 5px solid #3B3B3B;
    border-radius: 15px;
    margin: auto;
    margin-top: 10px;
    padding: 20px;
    backdrop-filter: blur(24px);
}